
.address-item{
    margin: 20px 20px 0 0;
    width: 200px;
    float: left;
    padding: 5px 8px;
    border: 3px dashed #ccc;
    cursor: pointer;
}

.address-item.active{
    border: 3px dashed #c60023;
}

.address-item:hover{
    background: #fafafa;
}

.address-item .address-title{
    padding-bottom: 3px;
    color: #666;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.address-item .address-detail{
    margin-top: 5px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #666;
}

.address-item .address-operation{
    text-align: right;
    visibility: hidden;
}

.address-item:hover .address-operation{
    visibility: visible;
}

.address-item .address-operation .link{
    margin-right: 5px;
}

.address-item .address-new{
    text-align: center;
    color: #ccc;
    padding: 8px ;
}

.address-item .address-new .plus{
    font-size: 50px;
    line-height: 50px;
}

.address-item .address-new .text{
    font-size: 12px;
}


.product-table{
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}

.product-table th,
.product-table td{
    border-bottom: 1px dotted #ddd;
}

.product-table .cell-img{
    padding: 11px;
    width: 10%;
    text-align: center;
}

.product-table .cell-img .p-img{
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
}

.product-table .cell-info{
    width: 30%;
    text-align: left;
}
.product-table .cell-price{
    width: 20%;
    text-align: center;
}
.product-table .cell-count{
    width: 20%;
    text-align: center;
}
.product-table .cell-total{
    width: 20%;
    text-align: center;
}

.submit-con{
    background: #eee;
    text-align: right;
}

.submit-con .submit-total{
    margin-left: 10px;
    margin-right: 20px;
    font-size: 18px;
    color: #c60023;
    font-weight: bold;
    vertical-align: middle;
}

.submit-con .submit-total-text{
    vertical-align: middle;
}

.submit-con .order-submit{
    height: 50px;
    line-height: 50px;
}


.form .form-line{
    margin: 5px 0;
    overflow: hidden;
}

.form .form-line .label{
    display: block;
    float: left;
    width: 80px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.form .form-line .label .required{
    color: red;
}

.form .form-line .form-item{
    float: left;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    outline: none;
    margin-right: 10px;
}

.form .form-line input.form-item{
    width: 300px;
}

.form .form-line .btn{
    margin-left: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}