<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('!!html-loader!./layout/html-head.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - happymmall</title>
</head>
<body>
<%= require('!!html-loader!./layout/nav-simple.html') %>
<div class="page-wrap">
    <div class="w">
        <div class="user-content">
            <div class="user-title">Login</div>
            <div class="user-box">
                <div class="error-item">
                    <p class="error-message">Error</p>
                </div>
                <div class="user-item">
                    <label for="username" class="user-label">
                    </label>
                    <input type="text" id=username
                           class="user-input" placeholder="Please input your username" autocomplete="off">
                </div>
                <div class="user-item">
                    <label for="password" class="user-label">
                    </label>
                    <input type="password" id="password"
                           class="user-input" placeholder="Please input your password" autocomplete="off">
                </div>
                <a href="#" class="btn btn-submit" id="submit">Login</a>
                <div class="link-item">
                    <a href="./user-password-reset.html" class="link" target="_blank">Forget password?</a>
                    <a href="./user-register.html" class="link" target="_blank">Sign up for free</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<%= require('!!html-loader!./layout/footer.html') %>
</body>
</html>
