<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user unauthenticated">
                <span class="link js-login">login</span>
                <span class="link js-signup">sign up</span>
            </span>
            <span class="user authenticated hide">
                <span class="link-text ">
                    <span class="username">yhyfcc</span>
                </span>
                <span class="link js-signout">sign out</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item link">
                <a href="./cart.html" class="link">
                    my cart (
                    <span class="cart-count">0</span>
                    )
                </a>
            </li>
            <li class="nav-item">
                <a href="./order-list.html" class="link">my order</a>
            </li>
            <li class="nav-item">
                <a href="./user-center.html" class="link">my account</a>
            </li>
            <li class="nav-item">
                <a href="./about.html" class="link">about mmall</a>
            </li>
        </ul>
    </div>
</div>