
/* CSS default reset */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f6f6;
    font: 12px/1.5 tahoma, Arial,sans-serif;
}

li{
    list-style: none;
}

img{
    display: block;
    border: none;
}

label{
    cursor: pointer;
}

input[type='checkbox']{
    cursor: pointer;
}

a{
    text-decoration: none;
}

/* Layout with fixed width */
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* General styles */
/* hide */
.hide{
    display: none;
}

/* hyperlink */
.link{
    color: #999;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    color: #e80012;
}
.link-text{
    color: #999;
    text-decoration: none;
}
/* buttons */
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color: #c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn[disabled]{
    background: #eeeeee;
    color: #555555;
}

.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}

/* panel */
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}

/* loader */
.loading{
    margin: 10px auto;
}
.lds-ring {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid darkgrey;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: darkgrey transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}